/misc/
modules/module_3_8_bit_SAR_ADC/part_2_digital_comps/bootstrap_switch/python/
modules/module_0_foundations/gmid
modules/module_0_foundations/gmid_env
**/.vscode/
**/sar_logic_obj_dir/
**/.ipynb_checkpoints/
*.raw
*.spice
*.osdi
*.dat.ngspice
*.dat
*.txt
!requirements.txt
*.npy
*.so
*.out
*.vcd
*.npz
*.log

